<h1>CD Details: </h1>

<h2>@Model["cd"].Description</h2>
<h3>Artist: @Model["artist"].GetName()</h3>

<a href='/artists/@Model["artist"].Id/cds/new'>Add another cd</a>
<a href='/artists'>View all artists</a>
